h1,h2,label{
    color: aliceblue;
    text-align: center;

}
a{
    text-align: center;

}
body{
    background-image:url("pngtree-skull-fire-logo-vector-png-image_4242624.jpg") ;
    background-size:1350px 700px;
}
